node_modules/*
.idea/*
*.iml
# Mac OS X
*.DS_Store

./mobile/youtubequeue-ios/.idea/*

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Backup files
*~.nib
\#*#
.#*
