extends layout

block content
  h1= title
  p Welcome to #{title}
  p Everyone at the party can curate the video list
  p
    | Go to
    a(href='/rooms') Rooms
    |  to see the available lists, or add your own