extends layout

block content
  div#rooms
    a(href='/rooms/add/') Add new room

    ul
      each room in rooms
        li
          a(href='/rooms/' + room.getId())= room.getName()
          | &nbsp;
          a(href='/rooms/' + room.getId() + '/remove') X