form(method="post", action=path+'/links')
    p
        input(type="text", name="link", placeholder="www.youtube.com/1234")
        button(type="submit") +
if room.getLinks()
    each link, i in room.getLinks()
        p= link.link + ': ' + link.votes
            a(href=path+'/links/'+i+'/delete')
else
    p No links found