<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3ED7E0C8BC71F4A2603AF714</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ED7EE4A7DCD20FBA5A3D421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ED7EF151D41879270D922B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
